In [2]:
import bs4 as bs
import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style
import os
import pandas as pd
import pandas_datareader.data as web
import pickle
import requests
import numpy as np

#Als erstes sollen den einzelnen Produktionszahlen nach Modellen mit den Modellpreisen verrechnet werden:

#Import der Tabelle welche die Preisinformationen enthält:

df = pd.read_excel('Modell - Stadt - Typ - Preise' + '.xlsx', 'Tabelle1')

#Import der monatlichen Flugzeugproduktionszahlen

df1 = pd.read_excel('FlugzeugdatenVersion1' + '.xlsx', 'Tabelle1')

#erstellen eines Index:

dates = pd.date_range('1929-12-31','1946-01-01', freq='M')
df1.index = dates
df1 = df1.drop('Zeit', 1)

#kumulieren der  Produktionszahlen und resamplen, so dass aus den monatlichen Zahlen jährliche werden:
#(ich den Schritt durch geführt bevor ich entschieden habe mit nicht kumulierten Daten zu arbeiten, später wird die kumulation wieder aufgelöst)

df1 = df1.cumsum()
df1 = df1.resample('Y', label='right',).last()
df1 = df1.drop(pd.Timestamp('1929-12-31 00:00:00'))
df1 = df1.drop(df1.loc[df1.index > '1940-12-31 00:00:00'].index)



df.index = df['Flugzeugmodell']
del df.index.name

#neuer Datensatz, der nur die Preise beinhaltet

df2 = pd.DataFrame(df['Preis'])

#der Preisvektor wird transponiert und vervielfältigt, um im Anschluss die kumulierten Zahlen spaltenweise mit den Preisen zu multiplizieren

df2 = df2.transpose()
df2 = pd.concat([df2]*11)
dates1 = pd.date_range('1930-12-31','1941-01-01', freq='Y')
df2.index = dates1
df3 = df2.mul(df1)

#print(df.head())
#print(df3.head())

#df3.to_excel(r'C:\Users\Felix\Documents\Studium\Bachelorarbeit Papadia\Felix Fikowski Bachelor Thesis\airplane construction by price annual.xlsx', index = True)
#df.to_csv(r'C:\Users\Felix\Documents\Studium\Bachelorarbeit Papadia\Felix Fikowski Bachelor Thesis\Flugzeugdaten3.csv', index = True)

       Flugzeugmodell                                  Firma            Stadt  \
Bf 109         Bf 109            Bayerische Flugzeugwerke AG         Augsburg
He 111         He 111       Ernst Heinkel Flugzeugwerke GmbH          Rostock
Ju 87           Ju 87  Junkers Flugzeug- und Motorenwerke AG           Dessau
Ju 52           Ju 52  Junkers Flugzeug- und Motorenwerke AG           Dessau
Do 17           Do 17                     Dornier-Werke GmbH  Friedrichshafen

                      Type  Preis  Unnamed: 5  \
Bf 109               Jäger   45.0        45.0
He 111              Bomber  203.9       203.9
Ju 87   Sturzkampfflugzeug  100.3       100.3
Ju 52            Verbinder  125.8       125.8
Do 17               Bomber  185.5       185.5

                                               Unnamed: 6
Bf 109  Bundesarchiv/Militärarchiv Freiburg, RL 3, Pro...
He 111                                                NaN
Ju 87                                                 NaN
Ju 52   Bundesarchiv/Militärarchiv, Freiburg: Chef der...
Do 17                                                 NaN
            Bf 109  He 111  Ju 87    Ju 52  Do 17  Bf 110  He 112  He 115  \
1930-12-31     0.0     0.0    0.0      0.0    0.0     0.0     0.0     0.0
1931-12-31     0.0     0.0    0.0      0.0    0.0     0.0     0.0     0.0
1932-12-31     0.0     0.0    0.0   1258.0    0.0     0.0     0.0     0.0
1933-12-31     0.0     0.0    0.0   3396.6    0.0     0.0     0.0     0.0
1934-12-31     0.0   611.7    0.0  24782.6    0.0     0.0     0.0     0.0

            Hs 123  Bü 131  ...  BV 138  He 177  Bü 181   Ar 65   Kl 25  \
1930-12-31     0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0
1931-12-31     0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0
1932-12-31     0.0     0.0  ...     0.0     0.0     0.0    90.0     0.0
1933-12-31     0.0     0.0  ...     0.0     0.0     0.0   675.0  1176.6
1934-12-31     0.0    84.0  ...     0.0     0.0     0.0  4140.0  3392.0

            Fw 56  He 51        He 59         He 46  He 50
1930-12-31    0.0    0.0     0.000000      0.000000    0.0
1931-12-31    0.0    0.0     0.000000     87.838462    0.0
1932-12-31    0.0    0.0   175.676923    175.676923  200.6
1933-12-31    0.0    0.0   175.676923   7554.107692  200.6
1934-12-31   45.8   90.0  1493.253846  25736.669231  200.6

[5 rows x 56 columns]

In [28]:
#Im Folgenden werden die insgesamt Produzierten Zahlen nach Modellen den unterschiedlichen Gemeinden zugeordnet. 
#Daraus werden prozentuale Anteile der Gemeinden je Modell gebildet:

#Import der Matrix, welchen die prodzuzierten Stückzahlen nach Modellen den Werkssitzen zuweist

df4 = pd.read_excel('aircraft manufactorer network matrix' + '.xlsx', 'Tabelle1')

#Gruppierung nach Stadt, da manche Modellen von unterschiedlichen Firmen in der gleichen Stadt gebaut wurden:

df4 = df4.groupby('Stadt').sum()
del df4.index.name
df4 = df4.drop('Summe:', 0)

#Alphabetische Sortierung nach Städten:

df4 = df4.sort_index()

#Aus den absoluten Zahlen werden prozentuale Anteile an der Gesamtproduktion nach Modell errechnet:

df4 = df4/df4[df4.columns].sum()
df4 = df4.fillna(0)


print(df4.head())

#df4.to_excel(r'C:\Users\Felix\Documents\Studium\Bachelorarbeit Papadia\Felix Fikowski Bachelor Thesis\aircraft manufactorer network matrix percentage.xlsx', index = True)

                            Bf 109    He 111     Ju 87  Ju 52  Do 17  \
Augsburg                  0.048271  0.000000  0.000000    0.0    0.0
Berlin                    0.000000  0.000000  0.000000    0.0    0.0
Brandenburg an der Havel  0.000000  0.142948  0.000000    0.0    0.0
Braunschweig              0.000000  0.000000  0.000000    0.0    0.0
Bremen                    0.046314  0.000000  0.629556    0.0    0.0

                            Bf 110  He 112  He 115  Hs 123  Bü 131  ...  \
Augsburg                  0.334728     0.0     0.0     0.0     0.0  ...
Berlin                    0.000000     0.0     0.0     0.0     1.0  ...
Brandenburg an der Havel  0.000000     0.0     0.0     0.0     0.0  ...
Braunschweig              0.189679     0.0     0.0     0.0     0.0  ...
Bremen                    0.226639     0.0     0.0     0.0     0.0  ...

                          BV 138  He 177  Bü 181  Ar 65  Kl 25  Fw 56  \
Augsburg                     0.0     0.0     0.0    0.0    0.0    0.0
Berlin                       0.0     0.0     1.0    0.0    0.0    0.0
Brandenburg an der Havel     0.0     0.0     0.0    0.0    0.0    0.0
Braunschweig                 0.0     0.0     0.0    0.0    0.0    0.0
Bremen                       0.0     0.0     0.0    0.0    0.0    1.0

                             He 51  He 59     He 46     He 50
Augsburg                  0.000000    0.0  0.000000  0.161290
Berlin                    0.000000    0.0  0.000000  0.000000
Brandenburg an der Havel  0.145418    0.0  0.000000  0.000000
Braunschweig              0.000000    0.0  0.168699  0.000000
Bremen                    0.000000    0.0  0.000000  0.193548

[5 rows x 56 columns]

In [29]:
#Nun wird der Produktionswert je Modell je Jahr den verschiedenen Gemeinden zugeordnet.

df3 =df3.astype(float)

#Transponieren der Daten, die den Gemeinden die prozentuallen Anteile an den Modellen zuweist:

df4 = df4.T

#Anpasssen der Tabellen Beschriftung für die multiplikation beider Matrizen:

df3.columns.name = 'Modell'
df3.index.name = 'Zeit'
df4.columns.name = 'Stadt'
df4.index.name = 'Modell'

#Matrizen Multiplikation:

df5 = np.dot(df3, df4)
df5 = pd.DataFrame(df5)

#Index und Spaltennamen setzen beim neuen Datensatz:

df5.index = df3.index
df5.columns = df4.columns

print(df5)

#df5.to_excel(r'C:\Users\Felix\Documents\Studium\Bachelorarbeit Papadia\Felix Fikowski Bachelor Thesis\cum aircraftprices by city.xlsx', index = True)

Stadt            Augsburg        Berlin  Brandenburg an der Havel  \
Zeit
1930-12-31       0.000000      0.000000                  0.000000
1931-12-31       0.000000      0.000000                  0.000000
1932-12-31     469.097468      0.000000                 12.980769
1933-12-31    4481.670377     12.177267                311.538462
1934-12-31    9747.217039    292.886965               3639.485298
1935-12-31   13600.901084   1736.813287              12928.448679
1936-12-31   16129.134918   5319.777393              31696.454286
1937-12-31   20633.234435   8165.968569              46371.102268
1938-12-31   28902.047366  11244.998756              66965.919613
1939-12-31   52067.796061  21111.956321             112377.546022
1940-12-31  109977.030769  98973.334404             203476.817949

Stadt        Braunschweig         Bremen         Dessau  Friedrichshafen  \
Zeit
1930-12-31       0.000000       0.000000       0.000000         0.000000
1931-12-31      14.818277      18.289652       0.000000         0.000000
1932-12-31      42.586417     706.814224    1077.984054         0.000000
1933-12-31    1585.168529    6646.953914    2910.556945       423.066667
1934-12-31    7773.468774   16329.230481   21244.075734      1357.038462
1935-12-31   14155.332202   29622.630616   58404.232998     38131.377616
1936-12-31   22588.306202   42546.394133  104954.633295     67353.172793
1937-12-31   27339.972859   59560.646836  191965.479370    106765.826113
1938-12-31   31175.799813   80231.458841  265646.671228    159063.135867
1939-12-31   44438.718231  133173.462342  366436.897966    238699.191120
1940-12-31  121463.125641  218582.418099  527194.433333    289682.630769

Stadt              Gotha          Halle       Hamburg         Kassel  \
Zeit
1930-12-31      0.000000       0.000000      0.000000       0.000000
1931-12-31      4.284803      23.030816      0.000000       2.142402
1932-12-31    252.137611      46.061632      0.000000       4.284803
1933-12-31   2849.842108    2054.430099      0.000000     203.951875
1934-12-31   6644.389388    8013.638385      0.000000    3357.377691
1935-12-31   8906.508570   14954.022940     99.610877    6640.223698
1936-12-31  16641.839870   19335.368552   3409.395084   21326.775238
1937-12-31  26441.075477   29130.595898  20875.832990   69463.154560
1938-12-31  31082.764003   40201.182611  37472.067952  123882.513077
1939-12-31  32984.692177   59053.552390  57331.389930  224356.917911
1940-12-31  34115.669231  115376.068025  66651.569231  323240.725641

Stadt             Leipzig       München    Oranienburg  Oschersleben  \
Zeit
1930-12-31       0.000000      0.000000       0.000000      0.000000
1931-12-31       0.000000      0.000000       0.000000      0.000000
1932-12-31     185.611801      0.000000       0.000000     22.876164
1933-12-31     528.011967      0.000000       0.000000    289.367807
1934-12-31    3883.824166      0.000000     112.368959   2696.868207
1935-12-31   11716.353550      0.000000     112.368959   7364.339916
1936-12-31   25014.761458      0.000000    1048.776950  16908.109202
1937-12-31   59555.603538      0.000000   14007.361878  29744.000228
1938-12-31  105035.522469     95.693651   40370.102562  38133.046209
1939-12-31  174859.641500    669.855556   96785.961636  60878.658323
1940-12-31  278413.866667  20095.666667  201999.100000  85569.266652

Stadt         Regensburg        Rostock     Stuttgart         Wismar
Zeit
1930-12-31      0.000000       0.000000      0.000000       0.000000
1931-12-31      0.000000     288.787896      0.000000       0.000000
1932-12-31      0.000000    1056.965057      0.000000       0.000000
1933-12-31      0.000000    8155.656291   1176.600000       0.000000
1934-12-31    123.745400   28988.886808   3392.000000     130.675167
1935-12-31    371.236201   72188.521708   3840.732700     130.675167
1936-12-31   2184.037654  121197.461363   4040.951331    1219.634893
1937-12-31  12160.602554  181493.884766   4665.162357   16283.433766
1938-12-31  26225.999629  259772.494428   8092.434221   46941.740011
1939-12-31  40853.481276  389047.542212  11366.597719  112081.810537
1940-12-31  52192.315385  467285.464103  16195.400000  227511.700000

In [30]:
#runden der Daten auf zwei Stellen und Selektieren der Jahre 1931 - 1936:

df5 = df5.round(2)
df5 = df5.iloc[ 1:7 , : ].T
print(df5)
df5.to_excel(r'C:\Users\Felix\Documents\Studium\Bachelorarbeit Papadia\Felix Fikowski Bachelor Thesis\Flugzeugproduktion.xlsx', index = True)

Zeit                      1931-12-31  1932-12-31  1933-12-31  1934-12-31  \
Stadt
Augsburg                        0.00      469.10     4481.67     9747.22
Berlin                          0.00        0.00       12.18      292.89
Brandenburg an der Havel        0.00       12.98      311.54     3639.49
Braunschweig                   14.82       42.59     1585.17     7773.47
Bremen                         18.29      706.81     6646.95    16329.23
Dessau                          0.00     1077.98     2910.56    21244.08
Friedrichshafen                 0.00        0.00      423.07     1357.04
Gotha                           4.28      252.14     2849.84     6644.39
Halle                          23.03       46.06     2054.43     8013.64
Hamburg                         0.00        0.00        0.00        0.00
Kassel                          2.14        4.28      203.95     3357.38
Leipzig                         0.00      185.61      528.01     3883.82
München                         0.00        0.00        0.00        0.00
Oranienburg                     0.00        0.00        0.00      112.37
Oschersleben                    0.00       22.88      289.37     2696.87
Regensburg                      0.00        0.00        0.00      123.75
Rostock                       288.79     1056.97     8155.66    28988.89
Stuttgart                       0.00        0.00     1176.60     3392.00
Wismar                          0.00        0.00        0.00      130.68

Zeit                      1935-12-31  1936-12-31
Stadt
Augsburg                    13600.90    16129.13
Berlin                       1736.81     5319.78
Brandenburg an der Havel    12928.45    31696.45
Braunschweig                14155.33    22588.31
Bremen                      29622.63    42546.39
Dessau                      58404.23   104954.63
Friedrichshafen             38131.38    67353.17
Gotha                        8906.51    16641.84
Halle                       14954.02    19335.37
Hamburg                        99.61     3409.40
Kassel                       6640.22    21326.78
Leipzig                     11716.35    25014.76
München                         0.00        0.00
Oranienburg                   112.37     1048.78
Oschersleben                 7364.34    16908.11
Regensburg                    371.24     2184.04
Rostock                     72188.52   121197.46
Stuttgart                    3840.73     4040.95
Wismar                        130.68     1219.63

In [31]:
#Im folgenden wird die Kumulierung wieder aufgehoben:

yearly = pd.read_excel('Flugzeugproduktion' + '.xlsx', 'Sheet1')

#Zunächst werden die Indizes richtig gesetzt und die Tabelle transformiert:

yearly.index = yearly['Stadt']
yearly = yearly.drop(['Stadt'], axis=1)
yearly = yearly.T
print(yearly.head())

Stadt                Augsburg   Berlin  Brandenburg an der Havel  \
1931-12-31 00:00:00      0.00     0.00                      0.00
1932-12-31 00:00:00    469.10     0.00                     12.98
1933-12-31 00:00:00   4481.67    12.18                    311.54
1934-12-31 00:00:00   9747.22   292.89                   3639.49
1935-12-31 00:00:00  13600.90  1736.81                  12928.45

Stadt                Braunschweig    Bremen    Dessau  Friedrichshafen  \
1931-12-31 00:00:00         14.82     18.29      0.00             0.00
1932-12-31 00:00:00         42.59    706.81   1077.98             0.00
1933-12-31 00:00:00       1585.17   6646.95   2910.56           423.07
1934-12-31 00:00:00       7773.47  16329.23  21244.08          1357.04
1935-12-31 00:00:00      14155.33  29622.63  58404.23         38131.38

Stadt                  Gotha     Halle  Hamburg   Kassel   Leipzig  München  \
1931-12-31 00:00:00     4.28     23.03     0.00     2.14      0.00      0.0
1932-12-31 00:00:00   252.14     46.06     0.00     4.28    185.61      0.0
1933-12-31 00:00:00  2849.84   2054.43     0.00   203.95    528.01      0.0
1934-12-31 00:00:00  6644.39   8013.64     0.00  3357.38   3883.82      0.0
1935-12-31 00:00:00  8906.51  14954.02    99.61  6640.22  11716.35      0.0

Stadt                Oranienburg  Oschersleben  Regensburg   Rostock  \
1931-12-31 00:00:00         0.00          0.00        0.00    288.79
1932-12-31 00:00:00         0.00         22.88        0.00   1056.97
1933-12-31 00:00:00         0.00        289.37        0.00   8155.66
1934-12-31 00:00:00       112.37       2696.87      123.75  28988.89
1935-12-31 00:00:00       112.37       7364.34      371.24  72188.52

Stadt                Stuttgart  Wismar
1931-12-31 00:00:00       0.00    0.00
1932-12-31 00:00:00       0.00    0.00
1933-12-31 00:00:00    1176.60    0.00
1934-12-31 00:00:00    3392.00  130.68
1935-12-31 00:00:00    3840.73  130.68

In [32]:
#Auflösen der Kumulation und Auswahl der Daten ab 1932

yearly = yearly.diff().fillna(yearly)
yearly = yearly.iloc[ 1:6 , : ]

print(yearly.head(6))
yearly.to_excel(r'C:\Users\Felix\Documents\Studium\Bachelorarbeit Papadia\Bilder\Flugzeugproduktionjährlich.xlsx', index = True)

Stadt                Augsburg   Berlin  Brandenburg an der Havel  \
1932-12-31 00:00:00    469.10     0.00                     12.98
1933-12-31 00:00:00   4012.57    12.18                    298.56
1934-12-31 00:00:00   5265.55   280.71                   3327.95
1935-12-31 00:00:00   3853.68  1443.92                   9288.96
1936-12-31 00:00:00   2528.23  3582.97                  18768.00

Stadt                Braunschweig    Bremen    Dessau  Friedrichshafen  \
1932-12-31 00:00:00         27.77    688.52   1077.98             0.00
1933-12-31 00:00:00       1542.58   5940.14   1832.58           423.07
1934-12-31 00:00:00       6188.30   9682.28  18333.52           933.97
1935-12-31 00:00:00       6381.86  13293.40  37160.15         36774.34
1936-12-31 00:00:00       8432.98  12923.76  46550.40         29221.79

Stadt                  Gotha    Halle  Hamburg    Kassel   Leipzig  München  \
1932-12-31 00:00:00   247.86    23.03     0.00      2.14    185.61      0.0
1933-12-31 00:00:00  2597.70  2008.37     0.00    199.67    342.40      0.0
1934-12-31 00:00:00  3794.55  5959.21     0.00   3153.43   3355.81      0.0
1935-12-31 00:00:00  2262.12  6940.38    99.61   3282.84   7832.53      0.0
1936-12-31 00:00:00  7735.33  4381.35  3309.79  14686.56  13298.41      0.0

Stadt                Oranienburg  Oschersleben  Regensburg   Rostock  \
1932-12-31 00:00:00         0.00         22.88        0.00    768.18
1933-12-31 00:00:00         0.00        266.49        0.00   7098.69
1934-12-31 00:00:00       112.37       2407.50      123.75  20833.23
1935-12-31 00:00:00         0.00       4667.47      247.49  43199.63
1936-12-31 00:00:00       936.41       9543.77     1812.80  49008.94

Stadt                Stuttgart   Wismar
1932-12-31 00:00:00       0.00     0.00
1933-12-31 00:00:00    1176.60     0.00
1934-12-31 00:00:00    2215.40   130.68
1935-12-31 00:00:00     448.73     0.00
1936-12-31 00:00:00     200.22  1088.95

In [40]:
#Hinzufügen einer Summenzeile zur späteren Grafikerstellung.

print(type(yearly))
yearly = yearly.T
yearly.loc["Summe"] = yearly.sum()
print(yearly.tail())

<class 'pandas.core.frame.DataFrame'>
               1932      1933      1934       1935       1936
Stadt
Regensburg     0.00      0.00    123.75     247.49    1812.80
Rostock     1056.97   7098.69  20833.23   43199.63   49008.94
Stuttgart      0.00   1694.60   3190.73     626.23     174.66
Wismar         0.00      0.00    130.68       0.00    1088.95
Summe       3877.40  28240.56  86612.14  176161.76  227086.81

In [41]:
yearly.to_csv(r'C:\Users\Felix\Documents\Studium\Bachelorarbeit Papadia\Bilder\Flugzeugproduktionjährlich.csv', index = True)

In [49]:
df5 = pd.read_excel('Flugzeugproduktion' + '.xlsx', 'Sheet1')
df5.to_csv(r'C:\Users\Felix\Documents\Studium\Bachelorarbeit Papadia\Bilder\Flugzeugproduktion.csv', index = True)

In [287]:
print(df.head())
print(df1.head())
print(df2.head())
print(df3.head())
print(df4.head())
print(df5.head())
print(df6.head())

       Flugzeugmodell                                  Firma            Stadt  \
Modell
Bf 109         Bf 109            Bayerische Flugzeugwerke AG         Augsburg
He 111         He 111       Ernst Heinkel Flugzeugwerke GmbH          Rostock
Ju 87           Ju 87  Junkers Flugzeug- und Motorenwerke AG           Dessau
Ju 52           Ju 52  Junkers Flugzeug- und Motorenwerke AG           Dessau
Do 17           Do 17                     Dornier-Werke GmbH  Friedrichshafen

                      Type  Preis
Modell
Bf 109               Jäger   45.0
He 111              Bomber  203.9
Ju 87   Sturzkampfflugzeug  100.3
Ju 52            Verbinder  125.8
Do 17               Bomber  185.5
            Bf 109  He 111  Ju 87  Ju 52  Do 17  Bf 110  He 112  He 115  \
1930-12-31       0       0      0      0      0       0       0       0
1931-12-31       0       0      0      0      0       0       0       0
1932-12-31       0       0      0     10      0       0       0       0
1933-12-31       0       0      0     27      0       0       0       0
1934-12-31       0       3      0    197      0       0       0       0

            Hs 123  Bü 131  ...  BV 138  He 177  Bü 181  Ar 65  Kl 25  Fw 56  \
1930-12-31       0       0  ...       0       0       0      0      0      0
1931-12-31       0       0  ...       0       0       0      0      0      0
1932-12-31       0       0  ...       0       0       0      2      0      0
1933-12-31       0       0  ...       0       0       0     15    111      0
1934-12-31       0       6  ...       0       0       0     92    320      3

            He 51  He 59  He 46  He 50
1930-12-31      0      0      0      0
1931-12-31      0      0      1      0
1932-12-31      0      2      2      2
1933-12-31      0      2     86      2
1934-12-31      2     17    293      2

[5 rows x 56 columns]
Modell      Bf 109  He 111  Ju 87  Ju 52  Do 17  Bf 110  He 112  He 115  \
Zeit
1930-12-31    45.0   203.9  100.3  125.8  185.5   144.6    45.0    70.0
1931-12-31    45.0   203.9  100.3  125.8  185.5   144.6    45.0    70.0
1932-12-31    45.0   203.9  100.3  125.8  185.5   144.6    45.0    70.0
1933-12-31    45.0   203.9  100.3  125.8  185.5   144.6    45.0    70.0
1934-12-31    45.0   203.9  100.3  125.8  185.5   144.6    45.0    70.0

Modell      Hs 123  Bü 131  ...  BV 138  He 177  Bü 181  Ar 65  Kl 25  Fw 56  \
Zeit                        ...
1930-12-31   100.3    70.0  ...    70.0    70.0    70.0   45.0   70.0   70.0
1931-12-31   100.3    70.0  ...    70.0    70.0    70.0   45.0   70.0   70.0
1932-12-31   100.3    70.0  ...    70.0    70.0    70.0   45.0   70.0   70.0
1933-12-31   100.3    70.0  ...    70.0    70.0    70.0   45.0   70.0   70.0
1934-12-31   100.3    70.0  ...    70.0    70.0    70.0   45.0   70.0   70.0

Modell      He 51  He 59  He 46  He 50
Zeit
1930-12-31   45.0   70.0   70.0  100.3
1931-12-31   45.0   70.0   70.0  100.3
1932-12-31   45.0   70.0   70.0  100.3
1933-12-31   45.0   70.0   70.0  100.3
1934-12-31   45.0   70.0   70.0  100.3

[5 rows x 56 columns]
Modell      Bf 109  He 111  Ju 87    Ju 52  Do 17  Bf 110  He 112  He 115  \
Zeit
1930-12-31     0.0     0.0    0.0      0.0    0.0     0.0     0.0     0.0
1931-12-31     0.0     0.0    0.0      0.0    0.0     0.0     0.0     0.0
1932-12-31     0.0     0.0    0.0   1258.0    0.0     0.0     0.0     0.0
1933-12-31     0.0     0.0    0.0   3396.6    0.0     0.0     0.0     0.0
1934-12-31     0.0   611.7    0.0  24782.6    0.0     0.0     0.0     0.0

Modell      Hs 123  Bü 131  ...  BV 138  He 177  Bü 181   Ar 65    Kl 25  \
Zeit                        ...
1930-12-31     0.0     0.0  ...     0.0     0.0     0.0     0.0      0.0
1931-12-31     0.0     0.0  ...     0.0     0.0     0.0     0.0      0.0
1932-12-31     0.0     0.0  ...     0.0     0.0     0.0    90.0      0.0
1933-12-31     0.0     0.0  ...     0.0     0.0     0.0   675.0   7770.0
1934-12-31     0.0   420.0  ...     0.0     0.0     0.0  4140.0  22400.0

Modell      Fw 56  He 51   He 59    He 46  He 50
Zeit
1930-12-31    0.0    0.0     0.0      0.0    0.0
1931-12-31    0.0    0.0     0.0     70.0    0.0
1932-12-31    0.0    0.0   140.0    140.0  200.6
1933-12-31    0.0    0.0   140.0   6020.0  200.6
1934-12-31  210.0   90.0  1190.0  20510.0  200.6

[5 rows x 56 columns]
Stadt                       Bf 109    He 111     Ju 87  Ju 52  Do 17  \
Modell
Augsburg                  0.048271  0.000000  0.000000    0.0    0.0
Berlin                    0.000000  0.000000  0.000000    0.0    0.0
Brandenburg an der Havel  0.000000  0.142948  0.000000    0.0    0.0
Braunschweig              0.000000  0.000000  0.000000    0.0    0.0
Bremen                    0.046314  0.000000  0.629556    0.0    0.0

Stadt                       Bf 110  He 112  He 115  Hs 123  Bü 131  ...  \
Modell                                                              ...
Augsburg                  0.334728     0.0     0.0     0.0     0.0  ...
Berlin                    0.000000     0.0     0.0     0.0     1.0  ...
Brandenburg an der Havel  0.000000     0.0     0.0     0.0     0.0  ...
Braunschweig              0.189679     0.0     0.0     0.0     0.0  ...
Bremen                    0.226639     0.0     0.0     0.0     0.0  ...

Stadt                     BV 138  He 177  Bü 181  Ar 65  Kl 25  Fw 56  \
Modell
Augsburg                     0.0     0.0     0.0    0.0    0.0    0.0
Berlin                       0.0     0.0     1.0    0.0    0.0    0.0
Brandenburg an der Havel     0.0     0.0     0.0    0.0    0.0    0.0
Braunschweig                 0.0     0.0     0.0    0.0    0.0    0.0
Bremen                       0.0     0.0     0.0    0.0    0.0    1.0

Stadt                        He 51  He 59     He 46     He 50
Modell
Augsburg                  0.000000    0.0  0.000000  0.161290
Berlin                    0.000000    0.0  0.000000  0.000000
Brandenburg an der Havel  0.145418    0.0  0.000000  0.000000
Braunschweig              0.000000    0.0  0.168699  0.000000
Bremen                    0.000000    0.0  0.000000  0.193548

[5 rows x 56 columns]
Modell         Augsburg       Berlin  Brandenburg an der Havel  Braunschweig  \
Zeit
1930-12-31     0.000000     0.000000                  0.000000      0.000000
1931-12-31     0.000000     0.000000                  0.000000     11.808943
1932-12-31   380.402647     0.000000                 12.980769     36.567749
1933-12-31  3578.091891    48.709068                311.538462   1326.365809
1934-12-31  7774.297743  1255.547859               3671.939701   6891.733924

Modell            Bremen  Böblingen        Dessau  Friedrichshafen  \
Zeit
1930-12-31      0.000000        0.0      0.000000         0.000000
1931-12-31     14.575342        0.0      0.000000         0.000000
1932-12-31    571.157412        0.0   1077.984054         0.000000
1933-12-31   5702.807075     7770.0   2910.556945       423.066667
1934-12-31  20019.072648    22400.0  21244.075734      1339.200000

Modell            Gotha         Halle  Hamburg        Kassel      Leipzig  \
Zeit
1930-12-31     0.000000      0.000000      0.0      0.000000     0.000000
1931-12-31     3.414634     18.353659      0.0      1.707317     0.000000
1932-12-31   200.932854     36.707317      0.0      3.414634   185.611801
1933-12-31  2271.088815   1873.534282      0.0    237.181289   528.011967
1934-12-31  5295.029638  10440.058979      0.0  12950.563760  3891.964545

Modell      München  Oranienburg  Oschersleben  Regensburg       Rostock  \
Zeit
1930-12-31      0.0     0.000000      0.000000    0.000000      0.000000
1931-12-31      0.0     0.000000      0.000000    0.000000    184.496269
1932-12-31      0.0     0.000000     22.876164    0.000000    564.544177
1933-12-31      0.0     0.000000    341.371900    0.000000   5218.018255
1934-12-31      0.0   112.368959   3588.938421   98.614865  21351.406081

Modell      Rostock-Warnemünde      Wismar
Zeit
1930-12-31            0.000000    0.000000
1931-12-31           45.643836    0.000000
1932-12-31          320.420423    0.000000
1933-12-31         1514.924243    0.000000
1934-12-31         8803.611977  130.675167
        1930-12-31 00:00:00  1931-12-31 00:00:00  1932-12-31 00:00:00  \
Modell
Bf 109                  0.0                  0.0                  0.0
He 111                  0.0                  0.0                  0.0
Ju 87                   0.0                  0.0                  0.0
Ju 52                   0.0                  0.0               1258.0
Do 17                   0.0                  0.0                  0.0

        1933-12-31 00:00:00  1934-12-31 00:00:00  1935-12-31 00:00:00  \
Modell
Bf 109                  0.0                  0.0                  0.0
He 111                  0.0                611.7                611.7
Ju 87                   0.0                  0.0                  0.0
Ju 52                3396.6              24782.6              67554.6
Do 17                   0.0                  0.0                185.5

        1936-12-31 00:00:00  1937-12-31 00:00:00  1938-12-31 00:00:00  \
Modell
Bf 109                270.0              14040.0              55890.0
He 111               5709.2              76054.7             218580.8
Ju 87                 200.6              14342.9              34001.7
Ju 52              108062.2             139763.8             177629.6
Do 17               12614.0              87927.0             181048.0

        1939-12-31 00:00:00  1940-12-31 00:00:00                Type  \
Modell
Bf 109             124830.0             206955.0               Jäger
He 111             504040.8             640449.9              Bomber
Ju 87               89969.1             151352.7  Sturzkampfflugzeug
Ju 52              252229.0             299781.4           Verbinder
Do 17              328706.0             374524.5              Bomber

                  Stadt
Modell
Bf 109         Augsburg
He 111          Rostock
Ju 87            Dessau
Ju 52            Dessau
Do 17   Friedrichshafen